* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

.schedule {
  position: relative;
  min-width: 800px;
  min-height: 600px;
}

.schedule-item {
  position: absolute;
}

.course, .course-drop-target, .course-drop-ghost {
  width: 100%;
  height: 100%;
}

.course {
  background-color: gray;
  z-index: 120;
}

.course.mod-dragged {
  opacity: 0.5;
  z-index: 30;
}

.course-drop-target {
  z-index: 60;
  background-color: rgba(167, 226, 204, 0.56);
}

.course-drop-target.mod-active {
  background-color: rgba(195, 251, 152, 0.54);
}

.course-drop-ghost {
  background-color: white;
}
