* {
  box-sizing: border-box;
  font-family: -apple-system, system, sans-serif;
}

.schedule {
  position: relative;
  min-width: 800px;
  min-height: 600px;
}

.schedule-item {
  position: absolute;
}

.course, .course-drop-target, .course-drop-ghost {
  width: 100%;
  height: 100%;
}

.course.mod-any-dragged {
  background-color: hsla(0, 0%, 50%, 0.5) !important;
  opacity: 0.5;
  z-index: 30;
}

.course-drop-target {
  background-color: hsla(62, 94%, 70%, 0.8);
}

.course-drop-target.mod-active {
  background-color: hsla(124, 93%, 70%, 0.8);
}

.course-drop-target.mod-active.mod-error {
  background-color: hsla(9, 93%, 70%, 0.8);
}

.course-drop-ghost {
  background-color: white;
}

.room-selector {
  display: inline-block;
  margin-left: 3em;
}
