.schedule-days {
  display: inline-block;
  padding-left: 5em;
  height: 2em;
  width: 100%;
}

.schedule-container {
  height: 500px;
}

.schedule-day {
  display: inline-block;
  text-align: center;
  width: 20%;
  line-height: 2em;
  background-color: hsla(200, 80%, 80%, 0.7);
}

.schedule-day:nth-child(2n) {
  background-color: hsla(200, 80%, 80%, 0.9);
}

.schedule-hours {
  display: inline-block;
  width: 5em;
  height: calc(100% - 2em);
  vertical-align: top;
}

.schedule-hour {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(200, 80%, 80%, 0.7);
}

.schedule-hour:nth-child(2n) {
  background-color: hsla(200, 80%, 80%, 0.9);
}

.schedule {
  display: inline-block;
  position: relative;
  width: calc(100% - 5em);
  height: calc(100% - 2em);
  vertical-align: top;
}

.schedule-item {
  position: absolute;
}

.course {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.course, .course-drop-target, .course-drop-ghost {
  width: 100%;
  height: 100%;
}

.course.mod-any-dragged {
  background-color: hsla(0, 0%, 50%, 0.5) !important;
  opacity: 0.8;
  z-index: 30;
}

.course-drop-target {
  background-color: hsla(62, 94%, 70%, 0.4);
}

.course-drop-target.mod-active {
  background-color: hsla(124, 93%, 70%, 0.4);
}

.course-drop-target.mod-active.mod-error {
  background-color: hsla(9, 93%, 70%, 0.4);
}

.course-drop-ghost {
  background-color: white;
}
